@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <div class="container-fluid">
        <div class="parallax-container" data-parallax-img="eximani-images/san-pham-sach-100-tu-nhien.jpg">
            <div class="breadcrumbs-custom-body parallax-content context-dark">
                <div class="container">
                    <h1 class="breadcrumbs-custom-title" style="text-align:center; font-size: 55px; font-weight: 600">NHÀ MÁY</h1>
                </div>
            </div>
        </div>
        <div class="row manufacture-introduce">
            <div class="manufacture-introduce-left col-md-6">
                <h3>Giới thiệu</h3>
                <p>
                    Để cung cấp cho quý khách hàng những sản phẩm 100% từ tự nhiên, an toàn, tốt cho sức khỏe khi sử dụng. IchiHandmade đã xây dựng một quy trình chuẩn cho sản xuất và phân phối sao cho đảm bảo nhất.
                </p>
            </div>
            <div class="manufacture-introduce-right col-md-6">
                <img src="~/eximani-images/eximani-manufactory/eximani-manufactory.jpg" title="Eximani Manufactory" alt="eximani-manufactory" />
            </div>
        </div>
        <div class="row manufacture-standard">
            <h3>5 QUY TRÌNH</h3>
            <p>Để đem đến cho quý khách sản phẩm sạch và chất lượng, chúng tôi đã đặt ra và tuân thủ 5 quy trình này khi sản xuất và phân phối.</p>
        </div>
        <div class="row manufacture-slide-right">
            <div class="col-md-8 col-sm-12">
                <img src="~/eximani-images/eximani-manufactory/S1-Sang-loc-nguyen-lieu-truoc-khi-san-xuat.jpg" title="Product Screening" alt="screening-star-anise"/>
            </div>
            <div class=" col-md-4 col-sm-12">
                <div class="manufacture-slide-right-card-content">
                    <div>
                        <h3>SÀNG LỌC</h3>
                        <span></span>
                        <p>S1: Lựa chọn nguyên liệu, máy móc chuẩn.</p>
                        <p>Mục tiêu chính của S1 là phân loại nguyên liệu thô, khử khuẩn và lựa chọn máy móc chuẩn để phân loại chất lượng sản phẩm đầu ra</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row manufacture-slide-left">
            <div class=" col-md-4 col-sm-12" style="z-index:1000">
                <div class="manufacture-slide-left-card-content">
                    <div>
                        <h3>SẢN XUẤT</h3>
                        <div>
                            <span></span>
                        </div>
                        <p>S2: Sau khi đã sàng lọc, loại bỏ những tạp chất và khử khuẩn nguyên liệu, máy móc đầu vào thì Ichi Handmade sẽ tiến hành sản xuất và đóng gói.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <img src="~/eximani-images/eximani-manufactory/arranging-eximani-manufactory.jpg" title="Arrange" alt="arranging-eximani-manufactory" />
            </div>
        </div>
        <div class="row manufacture-slide-right">
            <div class="col-md-8 col-sm-12">
                <img src="~/eximani-images/eximani-manufactory/cleaning-eximani-manufactory.jpg" title="Cleaning" alt="cleaning-eximani-manufactory"/>
            </div>
            <div class=" col-md-4 col-sm-12">
                <div class="manufacture-slide-right-card-content">
                    <div>
                        <h3>LÀM SẠCH</h3>
                        <span></span>
                        <p>S3: Thường xuyên vệ sinh, duy trì mặt bằng sản xuất sạch thông qua việc tổ chức vệ sinh tổng thể và tổ chức làm sạch hàng ngày máy móc, vật tư và khu vực làm việc.</p>
                        <p>Hướng tới cải thiện môi trường làm việc, giảm thiểu rủi ro và nâng cao chất lượng sản phẩm (do tác động của bụi bẩn).</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row manufacture-slide-left">
            <div class=" col-md-4 col-sm-12" style="z-index:1000">
                <div class="manufacture-slide-left-card-content">
                    <div>
                        <h3>KIỂM TRA</h3>
                        <div>
                            <span></span>
                        </div>
                        <p>S4: Thường xuyên kiểm tra việc duy trì, 3 quy trình trên cũng như kiểm soát chất lượng sản phẩm đầu ra sao cho đạt chất lượng tốt nhất trước khi đến tay quý khách hàng.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <img src="~/eximani-images/eximani-manufactory/taking-care-eximani-manufactory.jpg" title="Taking Care" alt="taking-care-eximani-manufactory"/>
            </div>
        </div>
        <div class="row manufacture-slide-right">
            <div class="col-md-8 col-sm-12">
                <img src="~/eximani-images/eximani-manufactory/ready-eximani-manufactory.jpg" title="Ready" alt="ready-eximani-manufactory"/>
            </div>
            <div class=" col-md-4 col-sm-12">
                <div class="manufacture-slide-right-card-content">
                    <div>
                        <h3>Ready</h3>
                        <span></span>
                        <p>S5: Đào tạo, xây dựng thói quen, tiêu chuẩn sản xuất, phục vụ quý khách sao cho đảm bảo 5 quy trình trên cũng như đem đến cho khách hàng trải nghiệm hài lòng nhất.</p>
                    </div>
                </div>
            </div>
        </div>

        <!--<section class="section section-xl bg-default text-md-left">
            <div class="container">
                <div class="row row-40 row-md-60 justify-content-center align-items-xl-center">
                    <div class="col-md-11 col-lg-6 col-xl-5">-->
                        <!-- Quote Classic Big-->
                        <!--<article class="quote-classic-big inset-xl-right-30">
                            <div class="heading-3 quote-classic-big-text">
                                <div class="q">Manufactory</div>
                            </div>
                        </article>-->
                        <!-- Bootstrap tabs-->
                        <!--<div class="tabs-custom tabs-horizontal tabs-line" id="tabs-1">-->
                            <!-- Nav tabs-->
                            <!-- Tab panes-->
                            <!--<div class="tab-content">
                                <div class="tab-pane fade show active" id="tabs-1-1">
                                    <h5>We have 4 manufactory:</h5>
                                    <p><strong>Bamboo Stick Manufactory</strong> </p>
                                    <p><strong>Poweder Manufactory</strong> </p>
                                    <p><strong>Star Anise Manufactory</strong></p>
                                    <p><strong>Incense Manufactory</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-11 col-lg-6 col-xl-7">
                        <div class="slick-slider-1 inset-xl-left-35">-->
                            <!-- Slick Carousel-->
                            <!--<div class="slick-slider carousel-parent slick-nav-1 slick-nav-2" id="carousel-parent" data-items="1" data-autoplay="true" data-slide-effect="true" data-child="#child-carousel" data-for="#child-carousel" data-arrows="true">
                                <div class="item">
                                    <img src="~/eximani-images/eximani-manufactory/incense.jpg" title="Incense" alt="incense" width="634" height="373" />
                                </div>
                                <div class="item">
                                    <img src="~/eximani-images/eximani-manufactory/powder-manufactory.jpg" title="Powder Manufactory" alt="powder-manufactory" width="634" height="373" />
                                </div>
                                <div class="item">
                                    <img src="~/eximani-images/eximani-manufactory/powder-manufactory-2.jpg" title="Powder Manufactory" alt="powder-manufactory-2" width="634" height="373" />
                                </div>
                                <div class="item">
                                    <img src="~/eximani-images/eximani-manufactory/powder-3.jpg" title="Powder" alt="powder-3" width="634" height="373" />
                                </div>
                            </div>
                            <div class="slick-slider child-carousel" id="child-carousel" data-items="3" data-sm-items="4" data-md-items="4" data-lg-items="4" data-xl-items="4" data-xxl-items="4" data-for="#carousel-parent">
                                <div class="item">
                                    <img src="~/eximani-images/eximani-manufactory/incense.jpg" title="Incense" alt="incense" width="143" height="114" />
                                </div>
                                <div class="item">
                                    <img src="~/eximani-images/eximani-manufactory/powder-manufactory.jpg"  title="Powder Manufactory"  alt="powder-manufactory" width="143" height="114" />
                                </div>
                                <div class="item">
                                    <img src="~/eximani-images/eximani-manufactory/powder-manufactory-2.jpg"  title="Powder Manufactory"  alt="powder-manufactory-2" width="143" height="114" />
                                </div>
                                <div class="item">
                                    <img src="~/eximani-images/eximani-manufactory/powder-3.jpg" title="Powder"  alt="" width="143" height="114" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>-->
    </div>

@section Scripts{
    <script>
        $(".rd-navbar-nav").children().removeClass("active");
        $(".rd-navbar-nav li:nth-child(5)").addClass("active");
    </script>
}