     <!--+breadcrumbs-->
<section class="breadcrumbs-custom">
    <div class="parallax-container parallax-container-bg">
        <div class="breadcrumbs-custom-body parallax-content context-dark">
            <div class="container">
                <h1 style="font-size: 55px" class="breadcrumbs-custom-title">Về Chúng Tôi</h1>
                @*<h5 class="breadcrumbs-custom-text">We are industry-leading organic farm delivering the best products <br class="d-none d-md-block">that boost your daily life energy and potential.</h5>*@
                <p><h1 style="font-size: 24px">AN TOÀN SỨC KHỎE, GIÁ CẢ CẠNH TRANH.</h1></p>
            </div>
        </div>
    </div>
    <div class="breadcrumbs-custom-footer">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="active">Về Chúng Tôi</li>
            </ul>
        </div>
    </div>
</section>
<!-- Section About-->
<section class="section section-xl bg-default text-md-left eximani-about-info">
    <div class="container">
        <div class="row row-40 row-md-60 justify-content-center align-items-xl-center">

            <div class="col-md-11 col-lg-6 col-xl-5">
                <p style="text-indent: 35px; text-align: justify">
                    Chúng tôi – <strong>ICHI HANDMADE</strong> là đơn vị chuyển sản xuất, phân phối<strong> Xà Bông, và  Nụ Trầm Hương </strong> với chất lượng hàng đầu, đảm bảo 100% tự nhiên, tốt cho sức khỏe.
                </p>
                <p style="text-indent: 35px; text-align: justify">
                    Phương châm của chúng tôi luôn là: "Giving value will get faith back", đem đến sản phảm tốt nhất, mang lại giá trị tốt nhất cho bạn và từ đó tạo dựng niềm tin, cùng nhau hợp tác lâu dài.
                </p>
                <!-- Quote Classic Big-->
                <article class="quote-classic-big inset-xl-right-30">
                    <div class="heading-3 quote-classic-big-text">
                        <div class="q">Về ICHI HANDMADE</div>
                    </div>
                </article>
                <!-- Bootstrap tabs-->
                <div class="tabs-custom tabs-horizontal tabs-line" id="tabs-1">
                    <!-- Nav tabs-->
                    <div class="nav-tabs-wrap">
                        <ul class="nav nav-tabs">
                            <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-1-1" data-toggle="tab">Sứ Mệnh</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-2" data-toggle="tab">Tầm Nhìn</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-3" data-toggle="tab">Giá Trị Cốt Lõi</a></li>
                        </ul>
                    </div>
                    <!-- Tab panes-->
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tabs-1-1">
                            <p>Cung cấp sản phẩm sạch, thơm, 100% tự nhiên và tốt cho sức khỏe người tiêu dùng với giá cả cạnh tranh. Cũng như tạo công ăn việc làm, đem sản phẩm Việt Nam đi toàn thế giới.</p>
                            <p>Thông qua những điều sau:</p>
                            <p style="text-align: justify"><strong>Khách Hàng:</strong>Cung cấp sản phẩm chất lượng và an toàn cho sức khỏe người dùng.</p>
                            <p><strong>Nhân Viên:</strong> Tạo công ăn việc làm ổn định, giúp phát triển và đạt được mục tiêu của riêng họ.</p>
                            <p style="text-align: justify"><strong>Đối Tác:</strong> </p>
                        </div>
                        <div class="tab-pane fade" id="tabs-1-2">
                            <p style="text-align: justify"><strong>ICHI HANDMADE</strong> mục tiêu trở thành doanh nghiệp chuyên sản xuất, phân phối các sản phẩm làm từ 100% tự nhiên, tốt cho sức khỏe con người.</p>
                            <p style="text-align: justify">Chúng tôi có một khát khao là đưa các sản phẩm làm từ 100% tự nhiên như: <strong>Nụ trầm hương, xà bông, dầu gội</strong> với chất lượng tuyệt hảo cùng giá cả cạnh tranh đến tay người tiêu dùng toàn cầu.</p>
                            <p>Trở thành một doanh nghiệp hàng đầu của Việt Nam đem các sản phẩm 100% tự nhiên đến tay người tiêu dùng toàn thế giới.</p>
                        </div>
                        <div class="tab-pane fade" id="tabs-1-3">
                            <p>“Giving value will get faith back”</p>
                            <p style="text-align: justify">Mục tiêu của ICHI HANDMADE đạt được thông qua việc luôn đặt chất lượng, sự an toàn, thân thiện môi trường và trách nhiệm với xã hội lên trước, với mức giá vừa phải. Điều đó sẽ giúp chúng tôi trở thành số một trong ngành.</p>
                            <p><strong>GOOD PRODUCT, GOOD SERVICE </strong> – We prioritize values.</p>
                            <p>Với kinh nghiệm lâu năm cùng sự tâm huyết của các nhà sáng lập, chúng tôi đã xây dựng được công thức tuyệt hảo cho xà bông được làm 100% tự nhiên, cũng như hương thơm ấm áp, sâu lắng từ nụ trầm hương.</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-11 col-lg-6 col-xl-7">
                <div class="slick-slider-1 inset-xl-left-35">
                    <!-- Slick Carousel-->
                    <div class="slick-slider carousel-parent slick-nav-1 slick-nav-2" id="carousel-parent" data-items="1" data-autoplay="true" data-slide-effect="true" data-child="#child-carousel" data-for="#child-carousel" data-arrows="true">
                        <div class="item">
                            <img src="~/eximani-images/nu-tram-cua-ichi-handmade.jpg" title="Cassia" alt="cassia" width="634" height="373" />
                        </div>
                        <div class="item">
                            <img src="~/eximani-images/tram-huong-sach.jpg" title="Borken Anise" alt="broken-anise" width="634" height="373" />
                        </div>
                        <div class="item">
                            <img src="~/eximani-images/xam-bong-tu-nhien.jpg" title="Start Anise" alt="star-anise" width="634" height="373" />
                        </div>
                        <div class="item">
                            <img src="~/eximani-images/xa-bong-tu-nhien-sach.jpg" title="Whole Cassia" alt="whole-cassia" width="634" height="373" />
                        </div>
                    </div>
                    <div class="slick-slider child-carousel" id="child-carousel" data-items="3" data-sm-items="4" data-md-items="4" data-lg-items="4" data-xl-items="4" data-xxl-items="4" data-for="#carousel-parent">
                        <div class="item">
                            <img src="~/eximani-images/nu-tram-cua-ichi-handmade.jpg" title="Cassia" alt="cassia" width="143" height="114" />
                        </div>
                        <div class="item">
                            <img src="~/eximani-images/tram-huong-sach.jpg" title="Borken Anise" alt="broken-anise" width="143" height="114" />
                        </div>
                        <div class="item">
                            <img src="~/eximani-images/xam-bong-tu-nhien.jpg" title="Start Anise" alt="star-anise" width="143" height="114" />
                        </div>
                        <div class="item">
                            <img src="~/eximani-images/xa-bong-tu-nhien-sach.jpg" title="Whole Cassia" alt="whole-cassia" width="143" height="114" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section History-->
<section class="section section-fluid section-xl section-bottom-0 bg-image-2 section-relative context-dark">
    <div class="container-fluid">
        <h2 style="color: #151515">Our History</h2>
        <div class="slick-history">
            <!-- Slick Carousel-->
            <div class="slick-slider carousel-parent" id="carousel-parent-2" data-items="1" data-sm-items="2" data-md-items="2" data-lg-items="3" data-xl-items="3" data-xxl-items="4" data-autoplay="false" data-loop="false">
                <div class="item">
                    <div class="box-info-classic">
                        <h4 class="box-info-classic-title">Thành Lập</h4>
                        <p style="color: #fff" class="box-info-classic-text">Ichi Handmade được thành lập...</p>
                    </div>
                </div>
                <div class="item">
                    <div class="box-info-classic">
                        <h4 class="box-info-classic-title">Thành Tựu</h4>
                        <p style="color: #fff" class="box-info-classic-text">Sáng chế ra công thức xà bông có hương thơm tuyệt diệu và nụ trầm hương 100% tự nhiên, tốt cho sức khỏe.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="box-info-classic">
                        <h4 class="box-info-classic-title">Đối Tác</h4>
                        <p style="color: #fff" class="box-info-classic-text"> Chúng tôi hợp tác với hơn 100 nhà phân phối</p>
                    </div>
                </div>
                <div class="item">
                    <div class="box-info-classic">
                        <h4 class="box-info-classic-title">Nhà Máy</h4>
                        <p style="color: #fff" class="box-info-classic-text">
                            Chúng tôi có nhà máy sản xuất đặt tại Đà Lạt - Lâm Đồng
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="box-info-classic">
                        <h4 class="box-info-classic-title">Công Nghệ Hiện Đại</h4>
                        <p style="color: #fff" class="box-info-classic-text">
                            Chúng tôi áp dụng công nghệ sản xuất tiên tiến, thân thiện với môi trường, sức khỏe của người tiêu dùng.
                        </p>
                    </div>
                </div>
            </div>
            <div class="slick-slider child-carousel" data-items="1" data-sm-items="2" data-md-items="2" data-lg-items="3" data-xl-items="3" data-xxl-items="4" data-arrows="true" data-for="#carousel-parent-2" data-loop="false" data-focus-select="false">
                <div class="item">
                    <div class="heading-5 box-info-classic-year">2008</div>
                </div>
                <div class="item">
                    <div class="heading-5 box-info-classic-year">2013</div>
                </div>
                <div class="item">
                    <div class="heading-5 box-info-classic-year">2020</div>
                </div>
                <div class="item">
                    <div class="heading-5 box-info-classic-year">2021</div>
                </div>
                <div class="item">
                    <div class="heading-5 box-info-classic-year">2021</div>
                </div>
              
            </div>
        </div>
    </div>
</section>

<!-- Counter Modern-->
@*<section class="parallax-container" data-parallax-img="eximani-images/parallax-2.jpg" style="margin-top: 30px">
    <div class="parallax-content section-xxl context-dark">
        <div class="container">
            <div class="row row-30 justify-content-center">
                <div class="col-6 col-sm-3">
                    <div class="counter-modern">
                        <h2 class="counter-modern-number">
                            <span class="counter">3954</span>
                        </h2>
                        <div class="counter-modern-decor"></div>
                        <h5 class="counter-modern-title">CONTAINERS<br class="d-none d-sm-block">EXPORTED</h5>
                    </div>
                </div>
                <div class="col-6 col-sm-3">
                    <div class="counter-modern">
                        <h2 class="counter-modern-number">
                            <span class="counter">29</span>
                        </h2>
                        <div class="counter-modern-decor"></div>
                        <h5 class="counter-modern-title">COUNTRIES<br class="d-none d-sm-block"></h5>
                    </div>
                </div>
                <div class="col-6 col-sm-3">
                    <div class="counter-modern">
                        <h2 class="counter-modern-number">
                            <span class="counter">12653</span>
                        </h2>
                        <div class="counter-modern-decor"></div>
                        <h5 class="counter-modern-title">MTS OF GOODS<br class="d-none d-sm-block">EXPORTED</h5>
                    </div>
                </div>
                <div class="col-6 col-sm-3">
                    <div class="counter-modern">
                        <h2 class="counter-modern-number">
                            <span class="counter">357</span>
                        </h2>
                        <div class="counter-modern-decor"></div>
                        <h5 class="counter-modern-title">BUSINESS<br class="d-none d-sm-block"> PARTNERS </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
<!-- Testimonials-->
<section class="section section-xl bg-image-1">
    <div class="container">
        <h2>Testimonials</h2>
        <!-- Owl Carousel-->
        <div class="owl-carousel owl-style-1" data-items="1" data-sm-items="2" data-margin="30" data-dots="true" data-autoplay="true">
            <!-- Quote Modern-->
            <article class="quote-modern">
                <div class="quote-modern-text">
                    <div class="q">Sản phẩm chất lượng, mình rất thích hương thơm của trầm.</div>
                </div>
                <div class="unit unit-spacing-sm flex-column flex-md-row align-items-center">
                    <div class="unit-left">
                        <div class="quote-modern-figure">
                            <img src="eximani-images/user-10-62x62.jpg" alt="user-10-62x62" width="62" height="62" />
                        </div>
                    </div>
                    <div class="unit-body">
                        <div class="quote-modern-author">Nguyễn Sơn,</div>
                        <div class="quote-modern-status">Khách Hàng</div>
                    </div>
                </div>
            </article>
            <!-- Quote Modern-->
            <article class="quote-modern">
                <div class="quote-modern-text">
                    <div class="q">Tôi chọn sản phẩm của Ichi Handmade vì nó thân thiện với môi trường, an toàn cho sức khỏe và đặc biệt là mình đang có con nhỏ, dùng xà bông của Ichi bé rất thích và thơm nữa.</div>
                </div>
                <div class="unit unit-spacing-sm flex-column flex-md-row align-items-center">
                    <div class="unit-left">
                        <div class="quote-modern-figure">
                            <img src="eximani-images/user-11-62x62.jpg" alt="user-11-62x62" width="62" height="62" />
                        </div>
                    </div>
                    <div class="unit-body">
                        <div class="quote-modern-author">Hoa Nguyễn, </div>
                        <div class="quote-modern-status">Client</div>
                    </div>
                </div>
            </article>
            <!-- Quote Modern-->
            <article class="quote-modern">
                <div class="quote-modern-text">
                    <div class="q">Mình dùng nụ trầm hương của nhiều bên rồi nhưng lần đầu tiên thấy ưng ý, mùi nụ trầm hương của Ichi Handmade rất thoải mái, dễ chịu, đặc biệt ấm người.</div>
                </div>
                <div class="unit unit-spacing-sm flex-column flex-md-row align-items-center">
                    <div class="unit-left">
                        <div class="quote-modern-figure">
                            <img src="eximani-images/user-5-62x62.jpg" alt="user-5-62x62" width="62" height="62" />
                        </div>
                    </div>
                    <div class="unit-body">
                        <div class="quote-modern-author">Giang</div>
                        <div class="quote-modern-status">Client</div>
                    </div>
                </div>
            </article>

            <article class="quote-modern">
                <div class="quote-modern-text">
                    <div class="q">Mình dùng nụ trầm hương của nhiều bên rồi nhưng lần đầu tiên thấy ưng ý, mùi nụ trầm hương của Ichi Handmade rất thoải mái, dễ chịu, đặc biệt ấm người.”</div>
                </div>
                <div class="unit unit-spacing-sm flex-column flex-md-row align-items-center">
                    <div class="unit-left">
                        <div class="quote-modern-figure">
                            <img src="eximani-images/user-5-62x62.jpg" alt="user-5-62x62" width="62" height="62" />
                        </div>
                    </div>
                    <div class="unit-body">
                        <div class="quote-modern-author">Giang</div>
                        <div class="quote-modern-status">Client</div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>
<!-- Section Clients-->
@section Scripts{
    <script>
        $(".rd-navbar-nav").children().removeClass("active");
        $(".rd-navbar-nav li:nth-child(2)").addClass("active");
    </script>
}
